<launch>
     <!-- Thiết lập tham số mô tả robot -->
     <param name="robot_description" command="$(find xacro)/xacro $(find six)/urdf/six.urdf" />

     <!-- Khởi động Gazebo với testmap.world -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
       <arg name="world_name" value="$(find six)/worlds/testmap.world"/>
      </include>

     <!-- Khởi tạo robot trong Gazebo -->
     <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model six -param robot_description -x 0 -y 0 -z 0" />

     <!-- Xuất bản trạng thái khớp -->
     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

     <!-- Xuất bản trạng thái robot -->
     <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


     <!-- Khởi động Gmapping -->
     <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
       <param name="base_frame" value="base_link"/>
       <param name="odom_frame" value="odom"/>
       <param name="map_update_interval" value="2.0"/>
       <param name="maxUrange" value="5.0"/>
       <param name="sigma" value="0.05"/>
       <param name="kernelSize" value="1"/>
       <param name="lstep" value="0.05"/>
       <param name="astep" value="0.05"/>
       <param name="iterations" value="5"/>
       <param name="lsigma" value="0.075"/>
       <param name="ogain" value="3.0"/>
       <param name="lskip" value="0"/>
       <param name="srr" value="0.01"/>
       <param name="srt" value="0.02"/>
       <param name="str" value="0.01"/>
       <param name="stt" value="0.02"/>
       <param name="linearUpdate" value="0.5"/>
       <param name="angularUpdate" value="0.436"/>
       <param name="temporalUpdate" value="-1.0"/>
       <param name="resampleThreshold" value="0.5"/>
       <param name="particles" value="80"/>
       <param name="xmin" value="-50.0"/>
       <param name="ymin" value="-50.0"/>
       <param name="xmax" value="50.0"/>
       <param name="ymax" value="50.0"/>
       <param name="delta" value="0.05"/>
       <param name="llsamplerange" value="0.01"/>
       <param name="llsamplestep" value="0.01"/>
       <param name="lasamplerange" value="0.005"/>
       <param name="lasamplestep" value="0.005"/>
       <remap from="scan" to="/scan"/>
     </node>

    <node
      name="rviz"
      pkg="rviz"
      type="rviz"
      args="-d $(find six)/save.rviz" />
      
</launch>